<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <title>Available Movies</title>
</head>
<body>
   
</body>
</html>

{% extends "layout.html" %}

{% block title %}Movie Frame Home{% endblock %}
{% block content %}
    <h1>Configure Movie</h1>


     It looks like this is your first time setting up this movie file. To get started, please select a video file from the list below:
    <form action="{{ url_for('add_movie') }}" method="post">
        <select name="video_path">
            {% for movie in movies %}
                <option value="{{ movie | e }}">{{ movie | e }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Select">
    </form>

{% endblock %}