{% extends "layout.html" %}

{% block title %}Movie Frame Home{% endblock %}
{% block content %}
    <h1>Movie Frame Controls</h1>

    {% if dev_mode %}
        <p style="color: orange;"><strong>Developer Mode:</strong> Frame is not being sent to e-ink display.</p>
    {% endif %}

    
        {% if active_movie %}
            {% set movie = active_movie %}
            <div id="playback_status"></div>
                {% include "_movie_playback_status.html" %}
            </div>
        {% endif %}
    

    

{% endblock %}